.ColorBox {
  display: inline-block;
  position: relative;
  /* we want to display 5 color boxes in a row */
  width: 20%;
  /* height only works when the container element has a set hight as well */
  /* height: 25%; */
  margin: 0 auto;
  cursor: pointer;
}
