.ColorBox {
  display: inline-block;
  position: relative;
  /* we want to display 5 color boxes in a row */
  width: 20%;
  /* height only works when the container element has a set hight as well */
  /* the container element is Palette-colors div  */
  height: 25%;
  margin: 0 auto;
  cursor: pointer;
}

.copy-container {
}

.box-content {
  /* {name} needs to be in the bottom left */
}

.copy-button {
  /* needs to be in the middle */
}

.see-more {
  /* needs to be in the bottom right */
}
