.ColorBox {
  display: inline-block;
  position: relative;
  /* we want to display 5 color boxes in a row */
  width: 20%;
  /* height only works when the container element has a set hight as well */
  /* the container element is Palette-colors div  */
  height: 25%;
  margin: 0 auto;
  cursor: pointer;
}

.copy-container {
}

.box-content {
  /* {name} needs to be in the bottom left */
}

.copy-button {
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  /* positon to the middle */
  top: 50%;
  left: 50%;
  /* to center the button */
  /* the element's width and height need to be taken into account */
  /* offset it by subtracting half of the element's width horizontally*/
  margin-left: -50px;
  /* offset it by subtracting half of the element's height vertically*/
  margin-top: -15px;
}

.see-more {
  /* needs to be in the bottom right */
}
