/* Palette parent container takes up 100 viewport height */
.Palette {
  height: 100vh;
}

/* Palette-colors is a div inside Palette and takes up 90% */
/* It is because we want to save 10% for the Footer */
.Palette-colors {
  height: 90%;
}

.Palette-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
  background-color: white;
  font-weight: bold;
  margin-right: 1rem;
}

.emoji {
  font-size: 1.5rem;
  margin: 0 1rem;
  align-self: flex-start;
}
